body{
  background-color: rgb(49, 49, 49);
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  text-align: center;
  line-height: 40px;
}
a{
  color: rgb(210, 220, 228);
  font-style: italic;
}